/*
intro css
*/

*{
  box-sizing: border-box;
}

div.contenair{
    width: 1140px;
    margin: auto;
}

div.tetepage{
    width:1140px;
    height:72px;
}

div.tetepage a{
        padding: 2.6px;
        font-size: 16px;
        width: 16px;
        text-align: center;
        text-decoration: none;
        margin: inherit;
        border-radius: 50%;
      }
      
      .fa:hover {
          opacity: inherit;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }

      .fa-instagram {
        background: #125688;
        color: white;
      }


div.presentation{
    background-image: url("../images/piedsport.jpg");
    width:529px;
    height:592px;
    float: left;
    margin: 10px;
    
}

div.titre{
    width: 529px;
    height: 336.4px;
    margin: 10px;

}

div.textphoto{
    width: 529px;
    height: 928.4px;
    float: left;
    margin: 10px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 60px;

}